<%- include('header') %> 

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
<p>Hello, this is the about page</p>
<p>Welcome to my media</p>

</div>

<%- include('footer') %> 