<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List App</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>

    <ul>
      <li>Meditate</li>
      <li>Go For A Run</li>
      <li>Read A Book</li>
    </ul>
    <form action="/" method="post">
      <label for="task">What to do</label><br />
      <input id="task" name="task" type="text" placeholder="Enter Task" /><br />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
